<main>
    <header>
        <nav>
            <div class="brand">
                <img src="assets/bits/key feature bg.png" />
            </div>
            <ul>
                <li><a href>lorem</a></li>
                <li><a href>ipsum</a></li>
                <li><a href>velit</a></li>
                <li><a href>cillum</a></li>
                <li><a href>dolore</a></li>
                <li><a href>fugiat</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="about">
            <h1>
                Designed by <br/>
                Indian Engineers
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maiores sunt ipsa accusamus et quaerat quis natus nihil mollitia adipisci assumenda sit quas dolorem fuga est, esse reprehenderit numquam quos.
            </p>
            <button>Check Now</button>
        </div>
        <div class="banner-image-container">
            <img src="assets/bits/banner_illustration.png" alt="">
        </div>
    </section>
</main>
<div>
    <!-- TODO -->
</div>